    #container p {
        color: #9fc4e2;
    }

    .card {
        --background: rgb(193, 236, 243);
        --color: black;
    }

    .content {
        --background:rgb(176, 230, 255);
    }

    #container a {
        text-decoration: none;
    }

    @media screen and (orientation: landscape) {
        .textoH5 {
          text-align: left;
        }
    }
    
    @media screen and (orientation: portrait) {
        .txtIconosFooter {
            display: none;
        }
    }

    #footer {
        --background-color:rgb(176, 230, 255);
      }
    /*
    INTENTO DE PERSONALIZAR LA ALERTA
    ion-alert {
        --ion-background-color: red !important;
    }
    */