<ion-header>
  <ion-toolbar>
    <ion-title>Información del Artículo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

    <ion-card class="card">

      <ion-card-header>
        <ion-input [(ngModel)]="document.data.nombre"><strong>Nombre: </strong></ion-input>
      </ion-card-header>

      <ion-card-content>
        <ion-input hidden>Id: {{ id }}</ion-input>
        <ion-input [(ngModel)]="document.data.descripcion"><b>Descripción: </b></ion-input>
        <ion-input [(ngModel)]="document.data.precio"><b>Precio: </b></ion-input>
        <ion-input [(ngModel)]="document.data.generacion"><b>Generación: </b></ion-input>
        <ion-input [(ngModel)]="document.data.fechaSalida"><b>Fecha de salida: </b></ion-input>
        <ion-input [(ngModel)]="document.data.imagen"><b>Imágen: </b></ion-input>
      </ion-card-content>

    </ion-card>

  <ion-row>
    <ion-button color="success" shape="round" (click)="clicBotonModificar()">Modificar artículo</ion-button>
    <ion-button color="danger" shape="round" (click)="clicBotonBorrar()">Borrar artículo</ion-button>
  </ion-row>

</ion-content>