<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Ejemplo Firestore
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content padding>

  <!-- <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="tareaEditando.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Precio</ion-label>
    <ion-input [(ngModel)]="tareaEditando.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Generación</ion-label>
    <ion-input [(ngModel)]="tareaEditando.generacion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha de salida</ion-label>
    <ion-input [(ngModel)]="tareaEditando.fechaSalida"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Imágen</ion-label>
    <ion-input [(ngModel)]="tareaEditando.imagen"></ion-input>
  </ion-item>

  <ion-button (click)="clicBotonInsertar()">Añadir artículo</ion-button> -->

</ion-content>

