<ion-header>
  <ion-toolbar>
    <ion-title>
      Añadir artículo
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input [(ngModel)]="articuloEditando.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción: </ion-label>
    <ion-input [(ngModel)]="articuloEditando.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Precio: </ion-label>
    <ion-input [(ngModel)]="articuloEditando.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Generación: </ion-label>
    <ion-input [(ngModel)]="articuloEditando.generacion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha de salida: </ion-label>
    <ion-input [(ngModel)]="articuloEditando.fechaSalida"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Imágen: </ion-label>
    <ion-input [(ngModel)]="articuloEditando.imagen"></ion-input>
  </ion-item>
  
  <br><br>
  <ion-button (click)="clicBotonInsertar()">Añadir artículo</ion-button>

</ion-content>