<ion-header>
  <ion-toolbar>
    <ion-title>
      ARTÍCULOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true" class="content">

  <h1 align="center">AÑADIR UN ARTICULO</h1>

  <ion-card class="card">

    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input [(ngModel)]="articuloEditando.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción: </ion-label>
      <ion-input [(ngModel)]="articuloEditando.descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Precio: </ion-label>
      <ion-input [(ngModel)]="articuloEditando.precio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Generación: </ion-label>
      <ion-input [(ngModel)]="articuloEditando.generacion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de salida: </ion-label>
      <ion-input [(ngModel)]="articuloEditando.fechaSalida"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Imágen: </ion-label>
      <ion-input [(ngModel)]="articuloEditando.imagen"></ion-input>
    </ion-item>

  </ion-card>
  
  <br><br>
  <ion-button shape="round" (click)="clicBotonInsertar()">Añadir artículo</ion-button>

  <br><br>


  <h1 align="center">LISTA DE ARTICULOS</h1>
    <ion-grid>
      <ion-row>
        <ion-container *ngFor="let documentArticulo of arrayColeccionArticulos" (click)="selecArticulo(documentArticulo)">
          <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="8" size-xs="12">
            <ion-card class="card">
              <ion-card-content>
                <h2 class="labelH2">Nombre: {{documentArticulo.data.nombre}}</h2>
                <p>Descripcion: {{documentArticulo.data.descripcion}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-container>
      </ion-row>
    </ion-grid>

</ion-content>